<?xml version="1.0" encoding="UTF-8"?>
<!-- scan 配置文件如果发生改变，将会被重新加载  scanPeriod 检测间隔时间  小柒2012 欢迎关注博客https://blog.52itstyle.com-->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <springProperty> scope="context" name="springAppName" source="spring.application.name"</springProperty>
    <!--定义日志文件的储存地址-->
    <property name="LOG_HOME" value="/tmp/silence-logs/${springAppName}/logs"/>
    <!--日志输出格式：%d表示时间，%thread表示线程名，%-5level：界别从左显示5个字符宽度，%logger{50} 表示logger名字最长50个字符 否则按照据点分割，%line 表示代码行号，%msg日志消息-->
    <property name="logPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread][%-5level][%logger{50}:%line] - %msg%n"/>
    <!--定义日志文件的储存地址-->
    <property name="allLogFileName" value="${LOG_HOME}/all/${springAppName}.%d{yyyy-MM-dd}.%i.logs"/>
    <!--定义日志文件的储存地址-->
    <property name="debugLogFileName" value="${LOG_HOME}/all/${springAppName}.%d{yyyy-MM-dd}.%i.logs"/>
    <!--定义日志文件的储存地址-->
    <property name="infoLogFileName" value="${LOG_HOME}/all/${springAppName}.%d{yyyy-MM-dd}.%i.logs"/>
    <!--定义日志文件的储存地址-->
    <property name="errorLogFileName" value="${LOG_HOME}/all/${springAppName}.%d{yyyy-MM-dd}.%i.logs"/>

    <!--控制台输出-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>
    <!--按照天生成日志文件-全量日志-->
    <appender name="allLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${allLogFileName}</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>90</maxHistory>
            <totalSizeGap>60GB</totalSizeGap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>
    <!--按照天生成日志文件-debug日志-->
    <appender name="debugLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${debugLogFileName}</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>90</maxHistory>
            <totalSizeGap>60GB</totalSizeGap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>
    <!--按照天生成日志文件-infoLog日志-->
    <appender name="infoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${infoLogFileName}</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>90</maxHistory>
            <totalSizeGap>60GB</totalSizeGap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>
    <!--按照天生成日志文件-errorLog日志-->
    <appender name="errorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${errorLogFileName}</fileNamePattern>
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>90</maxHistory>
            <totalSizeGap>60GB</totalSizeGap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>
    <!--异步输出-->
    <appender name="ASYNC_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <!--队列不会丢弃日志-->
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="allLog"/>
    </appender>
    <!--本地开发环境日志配置-->
    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ASYNC_LOG"/>
            <appender-ref ref="debugLog"/>
            <appender-ref ref="infoLog"/>
            <appender-ref ref="errorLog"/>
        </root>
    </springProfile>
    <!--测试生产环境日志配置-->
    <springProfile name="uat,prd">
        <root level="info">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ASYNC_LOG"/>
            <appender-ref ref="debugLog"/>
            <appender-ref ref="infoLog"/>
            <appender-ref ref="errorLog"/>
        </root>
    </springProfile>
</configuration>
